@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Base styles ended */

.navbar-container {
  width: 98%;
  margin: 0 auto;
  background-color: #f36a6a;
  box-shadow: 0px 6px 5px 5px rgba(252, 252, 252, 0.47);
  position: absolute;
  top: -28px;
  border-radius: 31px;
  margin-left: 1%;
}

.navlinks {
  display: flex;
  justify-content: flex-end;
}

.navlinks li {
    padding-top: 40px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 25px;
}

.navlinks li a {
  color: #030303;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}


.header-container {
    background-color: #030303;
    height: 70vh;
}